.topnav {
    background-color: #6A92D4;
    overflow: hidden;
}

.topnav a {
    float: left;
	color: #fff;
    text-align: center;
    padding: 20px 20px 0px 20px;
    text-decoration: none;
    font-size: 25px;
	font-weight: bold;
}
 
.topnav logot {
	float: left;
}


.topnav logotwo {
	float: right;
}

.topnav search {
	float: right;
}

.topnav life {
	float : right;
	font-family: Monotype Corsiva;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
	font-size: 25px;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: white ;
    color: #6A92D4;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 10px 10px 10px 150px;
    padding: 3px;
    color: #000;
}
.github a:hover {background: #191919; color: #fff;}
.instagram a:hover {background: #3f729b; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}
.whatsapp a:hover {background: #50b154; color: #fff;}

.footer {
	color: #1049A9;
border-top:3px solid #9EC1D4;
padding-top: 15px;
margin-top: 30px;
}

.midnav {
	background-color: white;
	overflow: hidden;
}

.midnav img {
	border: 1px solid #6A92D4; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
	margin-right: 50px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 50px;
    width: 150px; /* Set a small width */
	height: 200px;
	float: left;
}

.midnav img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.arrow-3 {
    color: #337AB7;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    height: 18px;
    line-height: 18px; 
    display: inline-block; 
    margin: 20px;
}
.arrow-3 .arrow-3-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}
.arrow-3 .arrow-3-iconcircle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.arrow-3:hover .arrow-3-icon {
    transform: translate3d(5px, 0, 0);
}
.arrow-3:hover .arrow-3-iconcircle {
    stroke-dashoffset: 0;
}
.arrow3-top 
{     
transform: rotate(-180deg); 
}


.pusto{
	float: center;
	color: #6A92D4;
	opacity: .3;
	font-size: 40px;
	font-weight: bold;
	padding-left: 280px;
}