.topnav {
    background-color: #6A92D4;
    overflow: hidden;
}

.topnav a {
    float: left;
	color: #fff;
    text-align: center;
    padding: 20px 20px 0px 20px;
    text-decoration: none;
    font-size: 25px;
	font-weight: bold;
}
 
.topnav logot {
	float: left;
}


.topnav logotwo {
	float: right;
}

.topnav search {
	float: right;
}

.topnav life {
	float : right;
	font-family: Monotype Corsiva;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
	font-size: 25px;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #1049A9;
    color: white;
}

.form-wrap {
  width: 1200px;
  background: white;
  border-radius: 20px;

}
.form-wrap *{transition: .1s linear}

.mov_im {
  width: 240px;
  float: left;
  padding-left: 50px;
  margin-left: 100px;
}

inf {
	font-size: 70px;
	font-weight: bold;
}

.main-content img {
   float: left;
   padding: 0 20px 20px 0;
}
.left {
   float: left;
   padding: 0 20px 20px 0;
}